@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');

:root{
    --main-clr : #4C8BF5;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Expanded', sans-serif;
}

ul,
li{
    list-style-type: none;
}

.container{
    max-width: 1250px;
    margin: auto;
}

.active{
    background-color: #DE5246;
    border-radius: 5px;
}

.container .image{
    background-color: transparent;
    border-radius: 5px;
}

.header{
    background-color: var(--main-clr);
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 96px;
}

.header img{
    width: 54px;
    border-radius: 50%;
}

.header ul{
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.header a{
    text-decoration: none;
    color : white;
    padding: 0.5em 1em;
}

.main-section{
    background-image: url('TP2/img/playstation.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 500px;
    padding-top: 1em;
    color : #4C8BF5;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 25px;
}

.main-section button{
    border: none;
    padding: 44px 50px;
    margin-right: 40px;
    cursor: pointer;
    margin-top: 25em;
    font-family: 'Encode Sans Expanded', sans-serif;
    border-bottom: 7px;
    background-color: #FBBC05;
    color : white;
    border-radius: 50%;
    font-size: medium;
}

.features{
    text-align: center;
    padding-top: 2em;
}

.features h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

.features .features_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.features .fa-solid,
.features .fa-regular{
    background-color: #4C8BF5;
    color: white;
    padding: 45px;
    border-radius: 50%;
    margin-bottom: 1em;
}

.features article{
    max-width: 240px;
    background: #80808014;
    padding: 0.8em;
    border-radius: 5px;
    margin-bottom: 1em;
    box-shadow: -2px 4px 5px 2px #80808054, -1px 2px 15px 0px #80808030;
}

.footer{
    background: #4C8BF5;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
    margin-top: 2em;
}

.footer p,
footer i{
    color: white;
}

.footer a{
    color : black;
    text-decoration: none;
}

.footer .social{
    max-width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 0.8em;
}

.about{
    padding: 3em;
    min-height: 70vh;
    text-align: center;
}

.contact{
    padding: 3em;
    min-height: 70vh;
    text-align: center;
}
